<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
  
</body>
</html>
<!-- Password Reset 8 - Bootstrap Brain Component -->
<section class="bg-light p-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xxl-11">
        <div class="card border-light-subtle shadow-sm">
          <div class="row g-0">
            <div class="col-12 col-md-6">
              <img class="img-fluid rounded-start w-100  object-fit-cover" loading="lazy"
                src="https://img.freepik.com/free-vector/code-snippets_114360-4497.jpg?t=st=1718952678~exp=1718956278~hmac=c45eb19c0c9e87456d9d582e6699277f70e9f3a8cbed6cb67f97fc0159267a8f&w=740" alt="Welcome back you've been missed!">
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
              <div class="col-12 col-lg-11 col-xl-10">
                <div class="card-body p-3 p-md-4 p-xl-5">
                  <div class="row">
                    <div class="col-12">
                      <div class="mb-5">
                        <div class="text-center mb-4">
                          <a href="#!">
                            <img src="https://t4.ftcdn.net/jpg/03/42/35/61/240_F_342356173_OUhX2GQlqoeQsaIAo0cv4BVlkayYnTd2.jpg" alt="BootstrapBrain Logo" width="80px">
                          </a>
                        </div>
                        <h2 class="h4 text-center">Password Reset</h2>
                        <h3 class="fs-6 fw-normal text-secondary text-center m-0">Create a new password to login successfully.
                        </h3>
                      </div>
                    </div>
                  </div>
                  <form action="/reset-Password1" method="post">
                    <div class="row gy-3 overflow-hidden">
                      <div class="col-12">
                        <div class="form-floating mb-3">
                          <input type="password" class="form-control" name="password" id=""
                            placeholder="" required>
                          <label for="" class="form-label">New Password</label>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="d-grid">
                          <button class="btn btn-dark btn-lg" type="submit">Reset
                            Password</button>
                        </div>
                      </div>
                    </div>
                  </form>
                  <!-- <div class="row">
                    <div class="col-12">
                      <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-center mt-5">
                        <a href="/login" class="link-secondary text-decoration-none">Login</a>
                        <a href="/registration" class="link-secondary text-decoration-none">Register</a>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>